.gitignore

# Publishing
/.quarto/
/.github/
.github/workflows
styles.css

# Quarto build output
_extensions/
_output/
_site/
_freeze/

# Quarto cache
.cache/
*.utf8.md
*.knit.md

# OS files
.DS_Store
Thumbs.db

# Python stuff (if using Python chunks)
__pycache__/
.ipynb_checkpoints/

# Personal stuff
quarto-examples/
00_ss/
playground/
bibliography.bib

# Notes in draft
/notes/shiny-apps
/notes/4_mechanisms-sand.ipynb
/notes/5_axial-design-sand.ipynb
/notes/6_mechanisms-clay.ipynb
/notes/8-1_pile-driveability.ipynb
/notes/8-2_challenging-soils.ipynb
/notes/shallow-foundations.ipynb


